In [39]:
import pandas as pd
import seaborn as sns
df=sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [40]:
x=df.drop(columns='species')
y=df['species']
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.25)
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier # for comparison
dt=DecisionTreeClassifier()
dt.fit(X_train,Y_train)

dt_predt=dt.predict(X_test)
acc=accuracy_score(dt_predt,Y_test)
print("Accuracy score: ",acc)

Accuracy score:  0.9210526315789473

In [41]:
#standardizing data
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [42]:
#applying PCA
from sklearn.decomposition import PCA
pca=PCA()
X_train=pca.fit_transform(X_train)
X_test=pca.transform(X_test)
explained_variance=pca.explained_variance_ratio_
print(explained_variance)

[0.74102802 0.22099571 0.03298679 0.00498948]

In [44]:
dt.fit(X_train,Y_train)
pred=dt.predict(X_test)
pc_acc=accuracy_score(Y_test,pred)
print("Accuracy score: ",pc_acc)

Accuracy score:  0.9210526315789473